<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootMybatisApplication" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.zhu.springbootmybatis.SpringbootMybatisApplication" />
    <module name="springboot-mybatis" />
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$/springboot-mybatis" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
